@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="texto-morado">Lista de Documentos</h2>
    </div>

    <div class="col-lg-6">
        <a class="btn btn-outline-morado" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i>Crear Nuevo Documento</a>
        <a class="btn btn-outline-morado" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Volver al inicio</a>
    </div>

    <br />

    <div class="p-4 border rounded bg-light">
        <div class="table-responsive">
            <table id="tblDatos" class="table table-responsive table-hover">
                <thead class="table-morada">
                    <tr>
                        <th>Nombre Documento</th>
                        <th>Nombre Empleado</th>
                        <th>Status del documento</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    @section Scripts{
        <script src="~/js/documentos.js"></script>
    }


