@model Genesys.Modelos.ViewModels.DocumentosVM //como recibe al modelo bodega seleccionamos el proyecto donde esta el modelo
@using Genesys.Utilidades

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Documento"; //Creamos una variable titulo que va a cambiar de acuerdo a lo que estemos haciendo
}

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @if (Model.Documentos.IdDocumento != 0)
    {
        titulo = "Actualizar Documento";
        <input asp-for="Documentos.IdDocumento" hidden />
        <input asp-for="Documentos.ArchivoUrl" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>


        <div class="row">
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre del Documento</label>
                            <input type="text" asp-for="Documentos.NombreDocumento" class="form-control" placeholder="Nombre del Documento" />
                            <span asp-validation-for="Documentos.NombreDocumento" class="text-danger"></span> <!--Si el campo nombres es requerido nos avisa-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Empleados</label>
                            <select asp-for="Documentos.IdEmpleado" asp-items="@Model.EmpleadoLista" class="form-select">
                                <option disbled-selected>--Seleccione un Empleado</option>"
                            </select>
                            <span asp-validation-for="Documentos.IdEmpleado" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Imagen</label>
                            <input type="file" accept="image/*, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="files" id="archivoId" class="form-control" />
                            <span asp-validation-for="Documentos.NombreDocumento" class="text-danger"></span>
                        </div>
                    </div>

                    <br />
                    @*Vamos ahora a llamar las vistas parciales*@
                    <div>
                        @if (Model.Documentos.IdDocumento != 0)
                        {
                            <partial name="_BotonesActualizarYRegresar" model="Model.Documentos.IdDocumento" />
                        }
                        else
                        {
                            <partial name="_BotonesCrearYRegresar" />
                        }
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.Documentos.IdDocumento != 0)
                {
                    <img src="@DS.ImagenDocumentosRuta@Model.Documentos.ArchivoUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" /> <!--Permitira mostrar los errores de los span a nivel del cliente-->
    <script>

        function validarImagen() {
            var fileInput = document.getElementById("archivoId");
            if (fileInput.files.length === 0) {
                swal("Error", "Seleccione un Archivo", "error");
                return false;
            }

            var allowedTypes = ["image/jpeg", "image/png", "image/gif", "application/pdf", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document"];
            var fileType = fileInput.files[0].type;

            if (!allowedTypes.includes(fileType)) {
                swal("Error", "El archivo seleccionado no es válido. Seleccione una imagen, PDF o documento de Word.", "error");
                return false;
            }
            return true;
        }
    </script>
}




