@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Su privacidad es muy importante para nosotros. Actualmente Genesis Industrial Gropu está trabajando en la política de privacidad y será desplegada en la página cuando esté lista. Gracias por visitarnos</p>
