@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="texto-morado">Lista de Empleados</h2>
    </div>

    <div class="col-lg-6">
        <a class="btn btn-outline-morado" asp-action="Upsert"> <i class="bi bi-plus-square-fill"></i>Crear nuevo Empleado</a>
    </div>
    @*<div id="detalleContainer"></div>*@

    <br />

    <div class="p-4 border rounded bg-light">
        <div class="table-responsive">
            <table id="tblDatos" class="table table-responsive table-hover">
                <thead class="table-morada">
                    <tr>
                        <th>IdEmpleado</th>
                        <th>Nombres</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de Nacimiento</th>
                        <th>NSS</th>
                        <th>CURP</th>
                        <th>Email</th>
                        <th>Puesto</th>
                        <th>Fecha de Ingreso</th>
                        <th>Tipo de Nómina</th>
                        <th>Planta</th>
                        <th>Turno</th>
                        <th>Número de Gafete</th>
                        <th>Status del Empleado</th>
                        <th>Editar Empleado</th>
                        <th>Eliminar Empleado</th>
                        <th>Cargar Documentos</th>
                        <th>Cargar Datos Bancarios</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    @section Scripts{
        <script src="~/js/empleado.js"></script>
    }


