
<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-purple" onfocus="false"> <i class="bi bi-plus-square-fill"></i> Crear </button>
    <a asp-action="Index" class="btn btn-outline-morado"><i class="bi bi-arrow-return-left"></i>Regresar</a>
</div>