
@model Genesys.Modelos.ViewModels.DatosBancariosVM //como recibe al modelo bodega seleccionamos el proyecto donde esta el modelo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Dato Bancario"; //Creamos una variable titulo que va a cambiar de acuerdo a lo que estemos haciendo
}

@*Vamos a crear el formulario donde van a estar todos nuestros inputs, ya que vamos a mandar informacion, le vamos a poner el metodo post*@
<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
       
        @*usamos c# para preguntar si el ide es =! de cero que cambie el titulo, como es c# se inicia con arroba*@
        
        @if (Model.datosBancarios.IdDatosBancarios != 0)
        {
            //Actualizar
            titulo = "Actualizar Datos Bancarios";
            <input asp-for="datosBancarios.IdDatosBancarios" hidden />
            //no quiero que el id se vea pero hay que mandarlo, asp-for deja entrar a las propiedades del modelo, en este caso id
        }
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> @*le decimos que todas las validaciones que tenga el modelo se muestren en este div*@
        </div>
        <div class="col-12 border-bottom p-0">
            <h2 class="form-title text-purple">@titulo</h2>
        </div>

        @*Ahora se pondran cada una de las propiedades*@
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre del Banco</label>
                <input type="text" asp-for="datosBancarios.NombreBanco" class="form-control" placeholder="Nombre del Banco" />
                <span asp-validation-for="datosBancarios.NombreBanco" class="text-danger"></span> <!--Si el campo nombres es requerido nos avisa-->
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Número de cuenta</label>
                <input type="text" asp-for="datosBancarios.NumeroCuenta" class="form-control" placeholder="Número de cuenta" />
                <span asp-validation-for="datosBancarios.NumeroCuenta" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Clabe Interbancaria</label>
                <input type="text" asp-for="datosBancarios.ClabeInterbancaria" class="form-control" placeholder="Clabe Interbancaria" />
                <span asp-validation-for="datosBancarios.ClabeInterbancaria" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Préstamos</label>
                <input type="text" asp-for="datosBancarios.Prestamos" class="form-control" placeholder="Préstamos" />
                <span asp-validation-for="datosBancarios.Prestamos" class="text-danger"></span> <!--Si el campo nombres es requerido nos avisa-->
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>IdEmpleado</label>
                <select asp-for="datosBancarios.IdEmpleado" asp-items="@Model.EmpleadoLista" class="form-select">
                    <option disabled selected>-- Seleccione un Empleado --</option>
                </select>
                <span asp-validation-for="datosBancarios.IdEmpleado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Status del Dato Bancario</label>
            <select asp-for="datosBancarios.StatusDatosBancarios" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <br />
        @*Vamos ahora a llamar las vistas parciales*@
        <div>
            @if (Model.datosBancarios.IdDatosBancarios != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.datosBancarios.IdDatosBancarios" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" /> <!--Permitira mostrar los errores de los span a nivel del cliente-->
   
}




