@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tienes los suficientes permisos para acceder a este recurso.</p>
</header>
