@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación del olvido de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo para restablecer tu contraseña
</p>
