@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor <a asp-page="./Login">Haga click aquí para ingresar</a>.
</p>
